<nz-select [(ngModel)]="selectedValue" (ngModelChange)="provinceChange($event)">
    <nz-option nzValue="students" nzLabel="Студенты"></nz-option>
    <nz-option nzValue="teachers" nzLabel="Учителя"></nz-option>
</nz-select>
<nz-table #filterTable [nzData]="listOfDisplayData">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
        <th nzShowSort nzSortKey="firstName">firstName</th>
        <th nzShowSort nzSortKey="lastName">lastName</th>
        <th nzShowSort nzSortKey="group" 
        nzShowFilter [nzFilters]="listOfGroups" (nzFilterChange)="filter($event)">group</th>
    </tr>
    </thead>
    <tbody>
    <!-- Нужен ховер эффект -->
    <tr *ngFor="let data of filterTable.data" [routerLink]="['/user', data.id]">
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>{{ data.group }}</td>
    </tr>
    </tbody>
</nz-table>